<p>Hola !! <%= @resource.email %></p>

<p>Alguien ha solicitado el cambio de contrasena para acceder Al aplicaativo siscotel-prueba-giss con el correo <%= @resource.email %>, puede acceder al siguiente enlace para proceder al cambio</p>

<p><%= link_to 'Recuperar contrasena', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>Password temporal <%= @token%>  </p> 

<p>Si ustede no ha solicitado este cambio por favor ignore este correo.</p>
<p>Su contrasena no cambiara hasta que acceda al enlace de arriba y cree una nueva. </p>
